@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');

div {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    text-align: center;

    width: 100%;
    

    /* border: 3px solid royalblue; */
}

    

div.navigation {
    background-color:#393E46;     /* 배경색 */
    height:60px;                    /* 높이 */

    padding-left:50px;              /* 왼쪽 여백 */
    padding-right:50px;             /* 오른쪽 여백 */
    position: fixed;
    display: flex;                  /* 가로 방향으로, contents의 크기만큼 */
    flex-direction: row;
}



div.navigation button {
    background-color: #00000000;
    border: 0px;

    color: white;
    height: inherit;
    width:120px;
    text-align: center;
}



a {
    height: inherit;
}


div.navigation button:hover {
    /* 마우스 커서를 가져다 댔을 때 변화 */
    background-color: #525252;
    color: #ff7d8f;
}



div.navigation img {
    align-self: center;
    height: 55px;
    padding-right: 40px;
}



.card {
    display: flex;
    flex-direction: row;
    height: fit-content;
}


.wrapper {
    display: flex;
    flex-direction: row;

    align-self: center;

    padding: 80px;
    margin: 0px auto;
    max-width:1200px;
    padding-bottom: 75px;
}


#book1 {
    background-color: #f1f1f1;
    padding-top: 75px;
}


#book1 .contents {
    padding: 20px;
}




#book1 .page {
    background-color: white;
    padding: 20px;
    margin-top: 20px;

    height: 150px;
    box-shadow: 2px 1px 5px 0px #7e7e7e;
}


#book1 .page .text {
    height: 120px;
    line-height:20px; 
}



#book1 .wrapper {
    max-width: 900px;
}




.profile_pic {
    width: 350px;
    height: 350px;
    padding: 10px;
}


.profile_pic img {
    width: inherit;
    height: inherit;
    border-radius: 70%;
}




#book1 .arrow {
    display: flex;
    flex-direction: row;
}




#book1 .arrow img {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



#book1 .arrow img#left-arrow{
    transform: scaleX(-1);
}




h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}




p {
    text-align: left;
    margin-bottom: 10px;
}




button {
    /* text setting */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ff7d8f;
    text-align: center;

    /* button setting */
    background-color: #00FF0000;
    border: #ff7d8f solid;
    border-radius: 50px;
    border-width: 1.5px;
    padding: 10px;

}



button:hover {
    background-color: #ff7d8f;
    color: white;
}




.title h1{
    text-align: center;
    padding-bottom: 40px;
    
}


h2 {
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    padding-bottom: 15px;
}



#book2 {
    background-color: #a1dad7;
}


#book2 .wrapper {
    display: flex;
    flex-direction: column;
}




div.card-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: fit-content;
    height: fit-content;
}


div.card-history {
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px #444444;
    margin: 10px;

    height: fit-content;
    display: flex;
    flex-direction: column;
}



.card-history img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.card-history .text-box {
    padding: 15px;
    width: auto;
    height: fit-content;
    line-height:20px; 
}



.card-history button {
    align-self: center;
    width: 80%;
    margin: 20px;
}

#book3 {
    background-color: #41B6C4;
}


#book3 .title {
    color: white;
}

#book3 .wrapper {
    display: flex;
    flex-direction: column;
    
}

.article {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: fit-content;

    margin-bottom: 100px;
}

.article-img-container {
    width: fit-content;
    height: fit-content;
}

.article-img-container img {
    margin-top: 50px;
    width: 350px;
    height: 215px;
    object-fit: cover;
}

.article-desc-container {
    width: 80%;
    padding: 20px;
}

.article-desc-container .text-box {
    height:120px;
}

.article-desc-container button {
    width: 150px;
    float: right;
    margin-top: 10px;
}

h2 {
    text-align: left;
}

p {
    text-align : left;
}

.article-img{
    width: fit-content;
    height: fit-content;
}

.article-img #lefting {
    width: 400px;
    height: 500px;
    margin-top: 130px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 20px;
}


.article-img #righting {
    margin-top: 130px;
    margin-right: 10px;
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

.article-section {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.article-wrapper {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    box-shadow: 2px 1px 5px 0px #AAAAAA;
}

.article-subtitle{
    border-bottom: #AAAAAA solid 1px;
}

.article-body{
    padding-top: 10px;
}

.article-text{
    display: flex;
    flex-direction: column;

    padding:20px
}

.article-desc {
    line-height: 160%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-desc br {
    display: none;
}


.slider {
    display: block;
    margin: 0 auto;
    text-align: center
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;


  }

#book4 {
    background-color: #2C7FB8;
    margin-left: 0px;
}

#book4 .title {
    color: white;
}

#book4 .wrapper {
    display: flex;
    flex-direction: column;

}


#book5 {
    background-color: #254894;
}


#book5 .title {
    color: white;
}

#book5 .wrapper {
    display: flex;
    flex-direction: column;
    
}

.bx-wrapper{
    width: 600px;
    margin: 0 auto;

}